<div mat-dialog-content class="bg-base-100">
    <div class="flex flex-col m-6 my-4 gap-6 text-center">
        <div class="text-2xl text-gray-400">
            {{ 'finish' | translate }}
        </div>
        <div class="text-xl text-gray-400">
            {{ 'not_close' | translate }}
        </div>
        <div class="grid grid-cols-3 justify-items-center">
            <mat-spinner class="col-start-2 text-secondary"></mat-spinner>
        </div>
    </div>
</div>
<div mat-dialog-actions class="bg-base-100"></div>
